.row{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.row-header{
    display:flex;
    margin-bottom: 5px;
}
.row-header img{
    margin-right: 6px;
}
.get{
    color:gray;
    text-align: right;
    align-items: end;
    margin: 0px 0px 0px auto;
}
